<a href="https://colab.research.google.com/github/devnproyj22/Python_Practice/blob/main/%EC%B2%AB%EC%BD%94%EB%9E%A9%EC%BB%A4%EB%B0%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 내장함수

* print
* map

`print(objects, end='')`

* 끝 문자 설정

In [2]:
a, b = map(int, input().strip().split(' '))

column = b
while column:
  row = a
  while row:
    print('*', end='')
    row -= 1
  print()
  column -= 1

3 5
***
***
***
***
***

In [7]:
print('Hello World', end='!!!!\n')

Hello World!!!!

`map(function, iterable)`

* `return` : iterable의 모든 항목에 function을 적용한 결과를 가르키는 iterator을 반환
   * 예. `<map at 0x7816bf112bf0>`
   * **무조건 list로 타입 변환**하며 결과 저장
* `function`: 내장함수, `lambda`함수, 등

In [29]:
map(lambda a: a*5, [1, 2, 3, 4]) # 말고

In [34]:
list(map(lambda a: a*5, [1, 2, 3, 4]))

[5, 10, 15, 20]

#### 리스트 메서드(정렬편)

* list() - 하나의 문자열을 한문자씩 쪼개기(str.split과 다르게 공백가능)
* list.reverse() - 정렬X
* list.sort()

`list(iterable)`

* 기능 : 리스트 클래스의 생성자(`__init__`) 실행하여 이터러블을 리스트화함
  * 자료형 관점 : **자료형 변환**

`list.reverse()`

* `return` : `None`
* 기능 : 기존의 리스트의 요소들을 거꾸로 나열
  * 따로 복사본 없음.

In [39]:
n = 12345
numbers = list(str(n))
print(numbers)
print(numbers.reverse())
# numbers = list(map(int, numbers))

['1', '2', '3', '4', '5']
None

`list.sort(key=None, reverse=False)`

* `return`:
* 기능 : 기존의 리스트의 요소들을 정렬, 옵션으로 거꾸로 정렬도 가능.
  * 따로 복사본 없음.

In [46]:
# print(list(123)) # TypeError: 'int' object is not iterable
print(list('123'))
print(list({1: 'one', 2: 'two'}))
print(list({'one': 1, 'two': 2}.items)) # TypeError: 'builtin_function_or_method' object is not iterable

['1', '2', '3']
[1, 2]

TypeError: 'builtin_function_or_method' object is not iterable

#### 문자열 메서드

* str.strip()
* str.split()

`str.strip([chars])`

* `return` : 선후 문자가 제거된 문자열의 복사본
* `chars` : 생략/None이면 공백제거, 모든 값 조합이 제거됨.

In [10]:
'www.exapmle.com'.strip('cmowz.')

'exapmle'

In [ ]:
'3 5'.strip() # 앞뒤만 제거하고 중간의 공백은 제거 안함.

`str.split(sep=None, maxsplit=-1)`

* `return`: 구분자로 구분한 문자열에 있는 단어들의 리스트
* `sep` 구분자 문자열: **반드시 지정(공백 '' NO)**, 조합이 아님.
* `maxsplit`: 최대 분할 횟수

In [11]:
'3 5'.strip().split('') # ValueError: empty separator

ValueError: empty separator

In [12]:
'3 5'.strip().split(',')

['3 5']

In [13]:
'3 5'.strip().split(' ')

['3', '5']

In [20]:
'3 5 4 6  7'.split(' ', maxsplit=-1) # 기본값, 공백도 문자다.

['3', '5', '4', '6', '', '7']

In [23]:
'3, 5, 4,6  7'.split(',', maxsplit=-1) # 기본값, 공백도 문자다.

['3', ' 5', ' 4', '6  7']

In [24]:
'3, 5, 4,6  7'.split(' ,', maxsplit=-1) # 기본값, 공백도 문자다.

['3, 5, 4,6  7']

In [18]:
'3 5 4 6  7'.split(' ', maxsplit=0)

['3 5 4 6  7']

In [33]:
'3 5 4 6  7'.split(' ', maxsplit=2)

['3', '5', '4 6  7']

In [32]:
board = [[0,0,0,0,0],[0,0,1,0,3],[0,2,5,0,1],[4,2,4,4,2],[3,5,1,3,1]]
moves = [1,5,3,5,1,2,1,4]
basket = []
for pick in moves:

    # 빈 리스트이면 다음 move
    i = -1
    while(True):
        if i == -len(board[0]) - 1:
            break
        if board[pick-1][i] != 0:
            break
        i -= 1
    if i == -len(board[0]) - 1:
        continue

    # 크레인 작동
    basket.append(board[pick-1][i])
    board[pick-1][i] = 0

answer = (len(basket) - len(set(basket)))*2
print(answer)

4

In [ ]:
n = 12345
numbers = list(str(n))
numbers.reverse()
numbers = list(map(int, numbers))